<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style>
        *{
            padding: 0;
            margin: 0;
            border: none;
        }

        body{
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }

        .login-box{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 10vh;
            margin-top: 30vh;
        }
    </style>
    <meta charset="UTF-8">
    <title>ETL!</title>
</head>
<body>

    <div class="login-box">
        <div>
            <h2>세일즈포스 RDBMS ETL 서버 시작!</h2>
            <div>Have an account? <a href="/user/login" th:href="@{/user/login}">Login</a></div>
            <div>Don't have an account? <a href="/user/signup" th:href="@{/user/signup}">Sign up</a></div>
        </div>
    </div>

</body>
</html>